@font-face {
   font-family: 'Permanent Marker';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/rodri/OneDrive/Documents/Household/A+R/Augusto/ElHombreGatoGitWeb/fonts/Permanent Marker/regular.ttf') format('truetype');
}
